.app {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.title {
  flex: 1;
}

.queryForm {
  flex: 1;
}

.listArea {
  flex: 5;
}